<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DownloadImage.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DownloadImage.ApplicationSettings>
            <setting name="DefaultURL" serializeAs="String">
                <value>https://myserver.com/filelist.json</value>
            </setting>
            <setting name="CompletedMessage" serializeAs="String">
                <value>Files Downloaded. Enjoy your Analogue Pocket!</value>
            </setting>
            <setting name="DownloadButtonLabelText" serializeAs="String">
                <value>Download the Games</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value>background.png</value>
            </setting>
        </DownloadImage.ApplicationSettings>
    </userSettings>
</configuration>